[submodule "Third-Party/MonoGame-SDL2"]
	path = Third-Party/MonoGame-SDL2
	url = https://github.com/flibitijibibo/MonoGame.git
[submodule "Third-Party/MGCB"]
	path = Third-Party/MGCB
	url = git@github.com:Ichiru/mgcb-binaries.git
